<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toniebalonie.tjiang11.tcrunch">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.TeacherTicketListActivity"
            android:label="Tickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.CreateTicketActivity"
            android:label="Create a Ticket"
            android:parentActivityName="com.toniebalonie.tjiang11.tcrunch.TeacherTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.TeacherTicketListActivity" />
        </activity>
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.TeacherTicketDetailActivity"
            android:parentActivityName="com.toniebalonie.tjiang11.tcrunch.TeacherTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.TeacherTicketListActivity"/>
        </activity>
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.StudentTicketListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.toniebalonie.tjiang11.tcrunch.SubmitResponseActivity"
            android:parentActivityName="com.toniebalonie.tjiang11.tcrunch.StudentTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.StudentTicketListActivity"/>
        </activity>
    </application>

</manifest>