<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toniebalonie.tjiang11.tcrunch">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tcrunch_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TeacherTicketListActivity"
            android:label="Tickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateTicketActivity"
            android:label="Create a Ticket"
            android:parentActivityName=".activities.TeacherTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.activities.TeacherTicketListActivity" />
        </activity>
        <activity
            android:name=".activities.TeacherTicketDetailActivity"
            android:parentActivityName=".activities.TeacherTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.activities.TeacherTicketListActivity" />
        </activity>
        <activity
            android:name=".activities.StudentTicketListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubmitResponseActivity"
            android:label="Submit Response"
            android:parentActivityName=".activities.StudentTicketListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.toniebalonie.tjiang11.tcrunch.activities.StudentTicketListActivity" />
        </activity>
        <activity
            android:name=".models.AnsweredTicketActivity"
            android:label="Answered Ticket"
            android:parentActivityName=".activities.StudentTicketListActivity" />
        <activity
            android:name=".activities.StudentIntroActivity"
            android:label="Student Intro"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.TeacherIntroActivity"
            android:label="Teacher Intro"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".services.PollingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity android:name=".activities.SuggestedQuestionsActivity"
            android:label="Suggested Questions"
            android:parentActivityName=".activities.TeacherTicketListActivity" />
    </application>

</manifest>